extends index.pug

block content
  ul.sweet
    li
      h5.center Sweet treat
      img(src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSlbeN2_9hVOd_W2RKy_x6HV2rn8my9xElNPLoBQxRpMC6v1l5_gQ")
      p price = $1.99/piece
    li
      h5.center Macaroons
      img(src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTuSLTT80jR-TnKhPlVCw85xXTQKvaxYdXsiDWAEsLRDHXFpJowUQ")
      p price = $9.99/lb
