doctype html
html
  head
    title Sweet Bakery
    include stylesheets.pug
    //- include layout.pug

  body
    //- var currentUrl = '/'
    //- p= url
    .nav
      ul.sweet
        li
          a(class={active: url === '/'} href='/') Home
        li
          a(class={active: url === '/about'} href='/about') About
        li
          a(class={active: url === '/inventory'} href='/inventory') Inventory

    h3.center Priya's Bakery
    block content
